@import url('https://fonts.googleapis.com/css?family=Roboto:900');
.wrapper.instagram {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/bg.png);
  background-size: cover;
  font-size: 16px;
}
.instagram .wrapper_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.instagram .countainers {
  text-align: center;
}
.instagram .countainers:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
.instagram .title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4.45em;
  margin-bottom: 5%;
}
.instagram .profile {
  width: 25%;
  display: inline-block;
}
.instagram .profile_img {
  width: 100%;
  margin-bottom: 3%;
}
.instagram .profile_name {
  display: block;
  text-align: center;
  font-size: 1.5em;
}
.instagram .followers {
  display: inline-block;
  text-align: right;
  margin-left: 10%;
}
.instagram .followers_count {
  font-size: 20em;
  line-height: 0.8;
}
.instagram .followers_text {
  font-size: 3.75em;
}
.instagram .contact_us {
  width: 15%;
  margin: 0 auto;
  text-align: center;
}
.instagram .contact_us img {
  display: inline-block;
}
.instagram .contact_us_img {
  width: 80%;
  margin-bottom: 5%;
}
.instagram .contact_us_qr {
  width: 100%;
}
@media all and (max-width: 1024px) {
  .wrapper.instagram {
    font-size: 12px;
  }
}
@media all and (min-width: 2048px) {
  .wrapper.instagram {
    font-size: 26px;
  }
}
@media all and (min-width: 2732px) {
  .wrapper.instagram {
    font-size: 34px;
  }
}
@media all and (max-height: 600px) {
  .wrapper.instagram {
    font-size: 12px;
  }
  .instagram .wrapper_inner {
    width: 80%;
  }
}