.tripadvisor .reviews_count {
  height: 100%;
}
.tripadvisor .reviews_circle {
  position: relative;
  height: auto;
  background-color: transparent;
  border: 15px solid #fff;
  width: 15%;
  padding: 7.5% 0;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 1%;
}
.tripadvisor .reviews_circle.full:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.tripadvisor .reviews_circle.half:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: 35%;
  height: 70%;
  transform: translate(-100%, -50%);
  border-top-left-radius: 50em;
  border-bottom-left-radius: 50em;
  overflow: hidden;
  float: left;
}
.tripadvisor .reviews_circle:last-child {
  margin-right: 0;
}
@media all and (max-width: 1024px) {
  .tripadvisor .reviews_circle {
    margin-right: 0;
  }
}