@import url('https://fonts.googleapis.com/css?family=Roboto:100,900');

.wrapper.tripadvisor {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(115, 201, 90) 0%, rgb(65, 160, 54) 100%);
  font-size: 16px;
}
.tripadvisor .wrapper_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.tripadvisor .countainers {
  position: relative;
  margin-bottom: 5%;
}
.tripadvisor .countainers:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
.tripadvisor .title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4.45em;
  margin-bottom: 2%;
}
.tripadvisor .title_sub {
  margin-bottom: 6%;
  font-weight: 100;
  text-align: center;
  font-size: 1.8em;
}
.tripadvisor .profile {
  width: 25%;
  float: left;
}
.tripadvisor .profile_img {
  width: 100%;
  margin-bottom: 3%;
}
.tripadvisor .profile_name {
  display: block;
  text-align: center;
  font-size: 1.5em;
}
.tripadvisor .reviews {
  width: 70%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.tripadvisor .contact_us {
  width: 15%;
  margin: 0 auto;
  text-align: center;
}
.tripadvisor .contact_us img {
  display: inline-block;
}
.tripadvisor .contact_us_img {
  width: 80%;
  margin-bottom: 5%;
}
.tripadvisor .contact_us_qr {
  width: 100%;
}